
   
  <footer class="position-fixed bottom-0 w-100 bg-primary p-4 ">
     <div class="container">
        <ul class="container row list-unstyled ">
            <li class="col"><a class="link-light link-underline-opacity-0 " href="#">Mi LinkdIn</a></li>
            <li class="col"><a class="link-light link-underline-opacity-0 " href="emailto:#">Mi e-mail</a></li>
            <li class="col"><a class="link-light link-underline-opacity-0 " href="#">Mis Redes</a></li>
            <li class="col"><a class="link-light link-underline-opacity-0 " href="#">Mi CV</a></li>
            <li class="col"><a class="link-light link-underline-opacity-0 " href="#">Otra cosa</a></li>
        </ul>
    </div>
  </footer>
