h1{
    font-size: 3vw;
    display: inline;
    max-width: 80%;
}
a{
    text-decoration: none;
    color: inherit;
}

.flex-container{
    display: flex;
    gap:1em;
    justify-content: space-between;
    align-items: center;
}

.starButton>i{
    margin: 0;
}

.starButton:hover i {
    color: rgb(240, 175, 13);
}

.h_iframe{
    position: relative; 
    padding-top: 56%;
}

.h_iframe iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.btn-group{
    position:relative;
    padding: auto;
}

.round-container{
    background-color: rgba(0, 0, 0, 0.1);
    margin: .5em 0;
    padding: 3px 10px;
    display: block;
    width: max-content;
    height: 2.1em;
    border-radius: 50px;
}

.round-container:hover{
    background-color: rgba(0, 0, 0, 0.12);
}