<div class="container mt-5">
    <div class="task-creation">

        <input class="form-control" [(ngModel)]="task" type="text" (keyup.enter)="addTask()">
        <button class="btn btn-primary" (click)="addTask()">Añadir</button>
        <select class="form-control w-25" name="estados" id="states">
            <option value="all">Todos</option>
            <option value="complete">completados</option>
            <option value="uncomplete">no completados</option>
            <option value="deleted">eliminados</option>
        </select>
    </div>
    <div class="tasks-list">
        <ul>
            
                <li class="list-item" *ngFor="let item of tasks;">
                    <p class="mr-1">{{item.desc}}</p><button class="btn btn-small btn-danger" (click)="removeTask(item.id)">R</button>
                </li>
           
        </ul>
    </div>
</div>