<section *ngIf="video!==null">
  <p>titulo: {{video.titulo}}</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="idUrl(video.url) | safeUrl:'https://www.youtube.com/embed/'" allowfullscreen>
    </iframe>
  </div>
  <p>categoria: {{video.categoria}}</p>
  <p>descripcion: {{video.descripcion}}</p>
  <p>vistas: {{video.vistas}}</p>
  <p>me gustas: {{video.meGusta}}</p>
  <p>no me gusta: {{video.noMeGusta}}</p>
  <p>estrellas: {{video.estrellas}}</p>


  <button [disabled]="!botonMegusta" (click)="meGusta(true)">Me gusta</button>
  <button [disabled]="!botonMegusta" (click)="meGusta(false)" >No me gusta</button>
  <br>
  <button [disabled]="!botonPuntaje" (click)="puntuar(1)">1 estrella</button>
  <button [disabled]="!botonPuntaje" (click)="puntuar(2)">2 estrella</button>
  <button [disabled]="!botonPuntaje" (click)="puntuar(3)">3 estrella</button>
  <button [disabled]="!botonPuntaje" (click)="puntuar(4)">4 estrella</button>
  <button [disabled]="!botonPuntaje" (click)="puntuar(5)">5 estrella</button>
  

</section>